AUTH_KEYCLOAK_ID=keycloak-id
AUTH_KEYCLOAK_SECRET=keycloak-secret
AUTH_SECRET=random-32chars
AUTH_URL=http://localhost:3000/api/auth
AUTH_KEYCLOAK_ISSUER={keycloak-url}/realms/{realm}


COMFYUI_URL={COMFYUI_URL}
FORGEJO_URL={FORGEJO_URL}
LANGFLOW_URL={LANGFLOW_URL}
OWUI_URL={OWUI_URL}
ROCKETCHAT_URL={ROCKETCHAT_URL}
BYTESTASH_URL={BYTESTASH_URL}
LINKDING_URL={LINKDING_URL}
