@import "tailwindcss";
@import "flowbite/src/themes/default.css";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --z-index-70: 70;

   --color-neutral-primary: var(--color-white);
   --color-neutral-secondary-soft: var(--color-gray-50);
   --color-neutral-tertiary: var(--color-gray-100);
   --color-heading: var(--color-gray-900);
   --color-default: var(--color-gray-200);
   --color-default-medium: var(--color-gray-300);
   --color-brand: var(--color-blue-600);
   --color-brand-strong: var(--color-blue-700);
   --color-brand-medium: var(--color-blue-400);
   --color-fg-brand: var(--color-blue-600);
   --color-neutral-primary-medium: var(--color-white);
   --color-neutral-tertiary-medium: var(--color-gray-100);
   --color-body: var(--color-gray-600);
}

.dark {
   --color-neutral-primary: var(--color-gray-900);
   --color-neutral-primary-medium: var(--color-gray-800);
   --color-neutral-secondary-soft: var(--color-gray-800);
   --color-neutral-tertiary: var(--color-gray-700);
   --color-neutral-tertiary-medium: var(--color-gray-700);
   --color-heading: var(--color-white);
   --color-body: var(--color-gray-300);
   --color-default: var(--color-gray-700);
   --color-default-medium: var(--color-gray-600);
   --color-brand: var(--color-blue-500);
   --color-brand-strong: var(--color-blue-400);
   --color-brand-medium: var(--color-blue-600);
   --color-fg-brand: var(--color-blue-400);
}

@layer base {
   *,
   ::after,
   ::before,
   ::backdrop,
   ::file-selector-button {
      border-color: var(--color-gray-200, currentcolor);
   }
}

@layer base {
   html {
      color-scheme: light dark;
   }

   * {
      @apply border-gray-200 dark:border-gray-800;
   }

   html,
   body {
      @apply text-gray-600 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
   }

   .using-mouse * {
      outline: none !important;
   }
}
